.THIS h2 {
    font-size:20px;
    font-weight:bold
}

.THIS .CoveoFieldValue {
    text-transform: uppercase;
    color: grey;
    font-size: 14px;
}

.THIS #objecttype-cell {
    text-align: right;
}

.THIS .CoveoResultList {
    margin-top: 0px;
    margin-bottom: 0px;
}

.THIS a.CoveoResultLink {
    font-size: 18px;
}